{% extends '../layout/_layout.html' %}

{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        App
    {% endif %}
        
{% endblock title %}


{% block content %}
{% if messages %}
<div class="m-0 row justify-content-center align-items-center">
    <div class="col-auto p-1 text-center">
       {% include '../components/_alert.html' %}
    </div>
</div>
{% endif %}

<h1>{{title}}</h1>
<h3>Esta seguro de eliminar lo siguiente?</h3>
<br>
<div>
    <h4>Marca</h4>
    <hr>
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            {{brand.name}}
        </dd>
    </dl>
    <br>
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar" class="btn btn-danger">
        <a href="{url 'brand_index'}" class="btn">Regresar</a>
    </form>
</div>
{% endblock content %}
    