{% extends '../layout/_layout.html' %}

{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        "App"
    {% endif %}
        
{% endblock title %}
    
{% block content %}
    <h1>{{title}}</h1>
    <br>
    {% if messages %}
    <div class="m-0 row justify-content-center align-items-center">
        <div class="col-auto p-1 text-center">
            {% include '../components/_alert.html' %}
        </div>
    </div>
    {% endif %}
        
    {% if brand_list %}
    <div class="row">
        <div class="p-3 text-center">
            <div class="row ">
                <div class="col-auto text-center">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example"">
                        <a href="#" class="btn btn-secondary ">Regresar</a>
                        <a type="button" href="{% url 'brand_create' %}" class="btn btn-primary">Nueva Categoria</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="table-responsive-md">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in brand_list %}
                        <tr>
                            <th>
                                {{forloop.counter}}
                            </th>
                            <th>
                                {{brand.name}}
                            </th>
                            <th>
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'brand_detail' brand.slug %}" class="btn btn-primary btn-sm">Ver</a>
                                    <a href="{% url 'brand_edit' brand.slug %}" class="btn btn-warning">Editar</a>
                                    <a href="{% url 'brand_delete' brand.slug %}" class="btn btn-danger btn-sm">Eliminar</a>
                                </div>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include '../components/_paginator.html' %}
    {% else %}
    <div class="m-0 pt-5 row justify-content-center align-items-center" >
        <div class="col-auto p-5  text-center">
            No hay Marcas registradas
            <hr/>
            <a class="btn btn-primary btn-sm" href="{% url 'brand_create' %}" >Registrar Marca</a>
            
        </div>
    </div>
    {% endif %}
        
{% endblock content %}
    