{% extends '../layout/_layout.html' %}


{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        "App"
    {% endif %}
        
{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
    <div class="m-0 row justify-content-start">
        <div class=" col-auto p-5">
            <figure>
                <blockquote class="blockquote">
                    <h4 class="display-6">{{category.name}}</h4>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{category.guard_name}}
                </figcaption>                                
            </figure>
            <hr/>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h4 class="display-6">Descripción</h4>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{category.description}}
                </figcaption>                                
            </figure>
            <hr/>
        </div>
        
    </div>
    <br>
    <a href="{% url 'category_index' %}" class="btn">Regresar</a>
{% endblock  %}
    