{% extends '../layout/_layout.html' %}

{% block title %}
    
    {% if title %}
        {{title}}
    {% else %}
        App
    {% endif %}
        
{% endblock title %}


{% block content %}
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{subtitle}}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> MY-KSA
                    <small class="float-right">Fecha: {{date}}</small>
                    <small class="f"></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  De: 
                  <address>
                    <strong>{{user}}</strong><br>
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                Cliente
                  <address>
                    <strong>{{client.name}}</strong><br>
                    Direccion: {{client.address}} <br>
                    Telefono: {{client.phone}} <br>
                    Email: {{client.email}} <br>
                  </address>
                </div>
                <div class="col-sm-4 invoice-col">
                  <b>Folio: {{sale.folio}}</b><br>
                  <br>
                  <b>Fecha: </b> {{sale.date}}<br>
                  <b>Estado:</b> {{sale.get_status_display}}<br>
                </div>
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Producto</th>
                      
                      <th>SKU</th>
                      <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in details %}
                      <tr>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.product.name}} - {{item.product.name}}</td>
                        <td>{{item.product.sku}}</td>
                        <td>${{item.total}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead"></p>

                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th>Total:</th>
                        <td>${{sale.total}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="#" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Imprimir Ticket</a>
                  <a href="{% url 'generate_pdf' sale.folio %}" target="_blank" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generar PDF
                  </a>
                  <a href="#" id="print" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-print"></i> Imprimir
                  </a>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock  %}

{% block javascript %}
      <script type="text/javascript">
        $(document).ready(function () {
          {% for message in messages %}
            Swal.fire({
                icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
                title: "{% if message.tags == 'success' %}¡Éxito!{% elif message.tags == 'error' %}¡Error!{% elif message.tags == 'warning' %}¡Advertencia!{% else %}Información{% endif %}",
                text: "{{ message }}",
                confirmButtonText: "Aceptar"
            });
        {% endfor %}
        $('#print').on('click', function() {
          var pdfLink = $(this).attr('href');
          var newWindow = window.open(pdfLink);
          newWindow.onload = function() {
            newWindow.print();
          };
        });
          $("#suppliers").DataTable({
            responsive: true,
            language: {
              info: 'Mostrando página _PAGE_ por _PAGES_',
              infoEmpty: 'No hay registros disponibles',
              infoFiltered: '(filtrado de _MAX_ Registros Totales)',
              lengthMenu: 'Mostar _MENU_ registros por pagina',
              zeroRecords: 'No se encontraron registros',
              search: 'Buscar:',
          }
          });
        });
      </script>
      {% endblock %}